html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: dimgray;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.lcd-image {
    display: block;
    width: 100%;
}

.grid-container {
    position: absolute;
    aspect-ratio: 8 / 2;
    width: 75%;
    transform: translate(-.5%, -2%);
    background-color: darkblue;
    display: grid;
    gap: 0.25em;
    box-sizing: border-box;
}

.grid-cell {
    position: absolute;
    aspect-ratio: 5 / 8;
    width: 3.8%;

    background-color: #949afb;
    border-color: solid black 1px;
    border-spacing: 0.25em;
    top: 28.5%;
    left: 23.5%;

    border-collapse: separate;
    table-layout: fixed;
}

.grid-inner-cell {
    aspect-ratio: 1 / 1;
    width: 4%;

    background-color: #787ccc;
}
