html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    background-color: dimgray;
}
 
.container {
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    width: 100%;
    position: relative;
}

.lcd-image {
    position: absolute;
    display: block;
    height: 90%;
}

.grid-container {
    background-color: darkblue;
    transform: translate(-.5%, -2%);
    background-color: #949afb;
}

.grid-cell {
    aspect-ratio: 5/8;
    width: 9vh;
    display: inline-flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    background-color: #949afb;
}

.grid-inner-cell {
    aspect-ratio: 1/1;
    width: 1.1vh;
    height: 1.1vh;
    background-color: #787ccc;
}

#printButton {
    position: absolute;
    display: block;
    align-self: flex-end;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
